@model Student


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add StudentDetails</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for=" Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" class="form-control"> 
                <option value="Select">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Other</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNo"></label>
            <input asp-for="PhoneNo" class="form-control" />
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Student" asp-action="Index"  class="btn btn-secondary" style="width:150px">
            Back
        </a>


    </div>



</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}

